<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<p> If you have any questions or querries, please feel free to contact any of the administrators.
	<nav>
		<ul>
			<li> Chin Yu Chien: 
			<a href="chienj.22@gmail.com">chienj.22@gmail.com</a></li>
			<li> John G. Moutzouris:
			<a href="jgmoutz@gmail.com">jgmoutz@gmail.com</a></li>
			<li> Jainesh J. Hira:
			<a href="jaineshster@gmail.com">jaineshster@gmail.com</a></li>
			<li> Avanindra Singh:
			<a href="avy1989@gmail.com">avy1989@gmail.com</a></li>
		</ul>
	</nav>
</p>